@model IEnumerable<MVCFilmSON.Models.Film>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilminKategorisi.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yonetmen)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Yabanci)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilminKategorisi.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yonetmen)
        </td>

        <td>
           @Html.Raw(item.Yabanci ? "Yabancı" : "Yerli")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilmID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmID })
        </td>
    </tr>
}

</table>
